* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    background: #140b29;
    color: #fff;
  }
  #nav-bar {
    display: flex;
    justify-content: space-around;
    animation: animation2 1s ease;
  }
  @keyframes animation2 {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
  .nav-list {
    display: flex;
    list-style: none;
    width: 30vw;
    justify-content: space-around;
    height: auto;
    align-items: center;
  }
  .nav-links {
    text-decoration: none;
    font-size: 14px;
    transition: 0.5s ease;
    opacity: 0.5;
  }
  .nav-links:hover {
    text-decoration: underline;
    letter-spacing: 8px;
    opacity: 1;
  }
  .name {
    font-size: 40px;
    transition: 0.5s ease;
    width: 20%;
    font-weight: 400;
  }
  .name:hover {
    transform: translateX(-50px);
    letter-spacing: 4px;
  }
  .projects {
    display: flex;
    margin-top: 20vh;
    width: 100vw;
    gap: 3vw;
    justify-content: space-around;
  }
  .box1,
  .box2,
  .box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25vw;
    animation: animation1 1s ease;
  }
  p {
    padding: 20px;
    font-size: 20px;
    text-align: left;
  }
  h2 {
    font-size: 32px;
    color: rgb(255, 51, 122);
  }
  @keyframes animation1{
      from{
          scale: 0.5;
          opacity: 0;
      }
      to{
          scale: 1;
          opacity: 1;
      }
  }  
  .h1{
    width: auto;
    height: auto;
    margin: 5vh auto;
    text-align: center;
    font-weight: 400;
    font-size: small;
  }